<!DOCTYPE html>
<!-- Snake web game -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Retro Snake</title>
    <link rel="stylesheet" type="text/css" href="../static/css/snake.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/snake.jpg') }}">
    <script src="../static/js/snake.js" defer></script>
</head>
<body>
    <button class="Back_Button" onclick="window.location.href='/home'">&#8249; Back</button>
    <img src="{{ url_for('static', filename='img/snake.jpg') }}" alt="Snake" class="game-image">
    <div class="wrapper">
        <div class="game-details">
            <span class="score">Score: 0</span>
            <span class="high-score">High Score: 0</span>
        </div>
        <div class="play-board"></div>  
    </div>
</body>
</html>