{% extends "layout.html" %}

{% block content %}
    <div>
        <h6 class="text">Select a game</h6>
    </div>
    <div class="button-container">
        <button class="Space_Invaders" onclick="window.location.href='/space_invaders'"></button>
        <button class="Retro_Snake" onclick="window.location.href='/snake'"></button>
        <button class="Pac_Man" onclick="window.location.href='/pac_man'"></button>
        <button class="Tetris" onclick="window.location.href='/space_invaders'"></button>
    </div>
    <div class="button-container">
        <button>Duck Game</button>
        <button>Donkey Kong</button>
        <button>Mario</button>
        <button>Mortal Kombat</button>
    </div>
{% endblock %}