<!-- <!DOCTYPE html>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pacman.css') }}">   
    </head>
    <body>
        <div class="header">
        <img src="{{ url_for('static', filename='img/pacman.png') }}" alt="Pac-Man">
        </div>
        <button class="Back_Button" onclick="window.location.href='/home'">&#8249; Back</button>
        <canvas id="gameCanvas" width="600" height="700"></canvas>

        <script src="{{ url_for('static', filename='games/Pac_Man/pac_man.js') }}"></script> 
    </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pacman.css') }}">   
	<title>PacMan</title>
    <button class="Back_Button" onclick="window.location.href='/home'">&#8249; Back</button>
</head>
<body>
	
</body>


